<div class="app app-header-fixed  ">


  <div class="container w-xxl w-auto-xs">
    <div class="m-b-lg">
      <div class="wrapper text-center">
        <h2>IREdge Web Admin</h2>
        <strong>Sign in to get in control</strong>
      </div>


      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="text-danger wrapper text-center">

          </div>
          <div class="list-group list-group-sm">
          <div class="list-group-item">
            <!--<%= f.label :email %>-->
            <!--<br/>-->
            <%= f.email_field :email,:class => 'form-control no-border', autofocus: true,:placeholder => :email %>
          </div>

          <div class="list-group-item">
            <!--<%= f.label :password %>-->
            <!--<br/>-->
            <%= f.password_field :password,:class => 'form-control no-border', autocomplete: "off",:placeholder => :password %>
          </div>

          <% if devise_mapping.rememberable? -%>
              <div class="list-group-item">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
          <% end -%>
  </div>
          <div class="actions">
            <%= f.submit "Log in",:class=>'btn btn-lg btn-primary btn-block' %>
          </div>
      <% end %>

      <!-- <%= render "devise/shared/links" %> -->
    </div>
  </div>


</div>
